<div>
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>SmartHomePI.NET</h1>
    <p class="lead">Get real time data from your home.</p>
    <div class="text-center">
      <button mat-raised-button color="primary" (click)="registerToggle()">Register</button>
      <button mat-raised-button>Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode">
    <div class="text-center">
      <div class="text-center">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
