<div class="row h-100 justify-content-center align-items-center">
  <h1>Room {{ selectedRoom.roomName }}</h1>
</div>

<div class="row h-100 justify-content-center align-items-center">
  <button color="primary" mat-raised-button (click)="getReport()">
    Get room report for today
  </button>
</div>

<div class="row h-100 justify-content-center align-items-center">
  <h1>Control the lights</h1>
  <mat-slide-toggle (change)="controlLight()" [checked]="lightOn">
  </mat-slide-toggle>
</div>

<div class="row h-100 justify-content-center align-items-center">
  <h1>Distance sensor active</h1>
  <mat-slide-toggle (change)="controlDistanceSensor()" [checked]="distanceSensorOn">
  </mat-slide-toggle>
</div>

<app-temperature [roomId] = 'selectedRoom.id'></app-temperature>
