<div class="container h-100" style="margin-top: 12%;">
  <div class="row h-100 justify-content-center align-items-center">
    <form #registerForm="ngForm">
      <h2 class="text-center text-primary">Edit your profile details</h2>
      <hr>
    
      <div class="row h-100 justify-content-center align-items-center">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field> 
      </div>
    
      <div class="row h-100 justify-content-center align-items-center">
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput name="password" placeholder="Address">
        </mat-form-field>
      </div>
    
      <div class="row h-100 justify-content-center align-items-center"> 
        <button mat-raised-button color="primary" type="submit" class="mr-2">Save</button>
      </div>
      
    </form>
  </div>
</div>

