<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput name="username" [(ngModel)]="model.username" placeholder="Username">
    </mat-form-field> 
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="model.password" placeholder="Password">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit">Register</button>
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
  </div>
  
</form>
