<div style="margin-top: 5%;">
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="10px">
    <mat-grid-tile *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{tile.text}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image id="test" src="http://raspberrypi:8080/api/camera/Stream">
      <mat-card-actions>
        <button mat-raised-button color="primary" class="mr-2" [routerLink]="['/roompage',tiles.indexOf(tile)]">Open Room</button>
        <button mat-raised-button color="primary" (click)="removeRoom(tile.text)">Remove Room</button>
      </mat-card-actions>
    </mat-card>
    </mat-grid-tile>
    </mat-grid-list>   
</div>

<div>
  <button mat-fab color="primary" class="fixedbutton" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

