/* .mat-grid-tile:hover {
    border-radius: 25px;
    border: 2px solid purple;
    padding: 20px; 
    width: 200px;
    height: 150px;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
} */

.fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 20px; 
}

body, html{
  height:100%;
}

@keyframes fadeIn {
  0% {
    border: 2px solid rgb(235, 238, 238);
  }
  100% {
    border: 2px solid purple;
  }
}

@-moz-keyframes fadeIn {
  0% {
    border: 2px solid rgb(235, 238, 238);
  }
  100% {
    border: 2px solid purple;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    border: 2px solid rgb(235, 238, 238);
  }
  100% {
    border: 2px solid purple;
  }
}

@-o-keyframes fadeIn {
  0% {
    border: 2px solid rgb(235, 238, 238);
  }
  100% {
    border: 2px solid purple;
  }
}

@-ms-keyframes fadeIn {
  0% {
    border: 2px solid rgb(235, 238, 238);
  }
  100% {
    border: 2px solid purple;
  }
}