<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a *ngIf="loggedIn()" class="navbar-brand" [routerLink]="['/dashboard']">SmartHomePI</a>
    <a *ngIf="!loggedIn()" class="navbar-brand" [routerLink]="['/home']">SmartHomePI</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/camera']">Camera</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <button mat-button [matMenuTriggerFor]="menu">
        <span class="text-white">
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
        </span>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          Edit Profile
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item [routerLink]="['/settings']">
          Settings
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logOut()">
          Logout
        </button>
      </mat-menu>
    </div>
  </div>
</nav>